#section4 {
    box-sizing: border-box;
    border: solid 5px white; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
.content-container1{
    display: flex;
    flex-direction: row;
}
.left-section,
.center-section,
.right-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.center-section{
    margin-top:50px;
}
.feature {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
}

.text-content {
    flex: 1; 
    max-width: 200px; 
}

.feature-img {
    width: 75px;
    height: 75px;
    margin-left: 10px;
    margin-right:25px; 
}

.feature h3 {
    color: black;
    font-size: 14px;
    margin-bottom: 5px;
}

.feature p {
    color: black;
    font-size: 12px;
    margin-bottom: 5px;
}

.logoo {
    width: 150px;
    margin-bottom: 10px;
}

.divider {
    margin-top: 20px;
}





.title-container1 {
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.title1 {
    font-size: 65px;
    margin: 0 10px; 
    font-weight:200;
   
   

    
}

.big-text {
    font-weight: 600;
}

.underline1 {
    border-bottom: 1px solid #000;
    flex: 1;
    margin: 0 10px;
    /
}

.small-text1 {
    font-size: 12px;
    margin-top: 10px; 

    margin-bottom: 100px;
}
 
